@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: transparent;
}

/**
https://github.com/bepyan/bepyan.me.v2/blob/797c366a60c406abed38ec02491ccc89b2b3815a/src/styles/global.css#L240
*/
@media (prefers-reduced-motion: no-preference) {
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(5px);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  [data-animate] > * {
    --lv: 0;
    --lv-wait: 0;
    --delay: 50ms;
    --start: 0ms;
    animation: enter 0.5s both;
    animation-delay: calc(
      var(--lv) * var(--delay) + var(--lv-wait) * var(--delay) + var(--start)
    );
  }
  [data-animate-speed='slow'] > * {
    --delay: 200ms;
  }
  [data-animate-speed='fast'] > * {
    --delay: 25ms;
  }
}

[data-animate] > *:nth-child(1) {
  --lv: 1;
}
[data-animate] > *:nth-child(2) {
  --lv: 2;
}
[data-animate] > *:nth-child(3) {
  --lv: 3;
}
[data-animate] > *:nth-child(4) {
  --lv: 4;
}
[data-animate] > *:nth-child(5) {
  --lv: 5;
}
[data-animate] > *:nth-child(6) {
  --lv: 6;
}
[data-animate] > *:nth-child(7) {
  --lv: 7;
}
[data-animate] > *:nth-child(8) {
  --lv: 8;
}
[data-animate] > *:nth-child(9) {
  --lv: 9;
}
[data-animate] > *:nth-child(10) {
  --lv: 10;
}
[data-animate] > *:nth-child(11) {
  --lv: 11;
}
[data-animate] > *:nth-child(12) {
  --lv: 12;
}
[data-animate] > *:nth-child(13) {
  --lv: 13;
}
[data-animate] > *:nth-child(14) {
  --lv: 14;
}
[data-animate] > *:nth-child(15) {
  --lv: 15;
}
[data-animate] > *:nth-child(16) {
  --lv: 16;
}
[data-animate] > *:nth-child(17) {
  --lv: 17;
}
[data-animate] > *:nth-child(18) {
  --lv: 18;
}
[data-animate] > *:nth-child(19) {
  --lv: 19;
}
[data-animate] > *:nth-child(20) {
  --lv: 20;
}

/* title에 호버할 때 description을 보여주는 스타일 */
.li-item:hover > .description {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* 기본 description 스타일 (기본적으로 숨겨져 있음) */
.description {
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
